<!DOCTYPE html>
<html>
  <head>
      <meta charset='utf-8'>
      <title>Ripple Journal</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
      <link rel='stylesheet' href='/stylesheets/journalstyle.css'>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap" rel="stylesheet">
  </head>

  <body>
    <% var today = new Date(); var date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate(); %>

    <div id="modal-entry" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
 
          <form id="journalentry">
          <div class="form-group" style="text-align: center;">
            <label for="journal"><b>Today: <%= today.toDateString() %></b>
            </label>
            <textarea id = "userinput" class="form-control" rows="10" name="entry" style="width: 80%; text-align: center; overflow: scroll;" ></textarea>
            <button id= "entryform" class="btn btn-secondary" data-dismiss="modal">Submit</button>
          </div>
        </form>
 
        <button class="btn btn-primary" id="top" style="background-color: darkslateblue;bottom: 15px;left: 15px;">Back to Top</button>
        </div>
      </div>
    </div> 

    <%- include('../partials/navbar.ejs')%>

    <div id="background">
    <div id="topofpage"></div>
<br><br>



    <div class="container" style="text-align: center;">

      <div id="0" class="jumbotron pages" style="margin-left: auto; margin-right: auto;">

        <% if(size ==0 ){ %>
          <h4 id="todaydate" class="display-4" style="text-decoration: underline;"> <%= username %>'s Journal <br>  Today: <%= today.toDateString() %></h4>
      
          <hr class="class-6">
          <p id="page0text">You have not entered en entry or bookmarked on this day!</p>

          <button style="margin-left: auto; margin-right: auto;" type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Add Journal Entry</button>
        <% }

          else{
        if(data[0][0].since.toDateString() == today.toDateString()){ %>
        <h4 id="todaydate" class="display-4" style="text-decoration: underline;"> <%= username %>'s Journal <br>  Today: <%= today.toDateString() %></h4>
      
        <hr class="class-6">

        <% data[0].forEach(function(entry, i){ 
          if(entry.category == "description"){ %>
            <div class="descriptor" style="width: 60%;height: 60%; word-wrap: break-word;"><h5>
              Today I'm Feeling:
              <small class="text-muted"><%=entry.journal %></small>
            </h5>
            </div>
          <%}

           else if(entry.category == "quote"){ %>

            <blockquote class="blockquote text-center">
              <cite class="blockquote-footer" style="size: 50%;" >"<%= entry.journal %>"</cite>
            </blockquote>
        <% } 
            
          else if(entry.category == "message"){ %>
            <font size="5">A Message You Loved</font>
            <div class="messages">
              <%= entry.journal %>
            </div>

          <%}
        else{ %>
        
          <p id="todayjournal"><font size="5"> Journal Entry #<%= data[0].length -i %> </font><br><br><%= entry.journal %></p>

          <% } %>
          <hr>
         <% }) %>
         <button style="margin-left: auto; margin-right: auto;" type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Add Journal Entry</button>
       <% }

        else{ %>
          <h4 id="todaydate" class="display-4" style="text-decoration: underline;"> <%= username %>'s Journal <br>  Today: <%= today.toDateString() %></h4>
      
          <hr class="class-6">
          <p id="page0text">You have not entered en entry or bookmarked on this day!</p>

          <button style="margin-left: auto; margin-right: auto;" type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Add Journal Entry</button>
        <% } %>
      

        <% }

        
        
        if (size !=0 && size > 1){ %>
        <button style="float: left;" class="btn btn-primary back" type="button" data-next="1" data-current= "0"> Previous Page</button>
            <% } %>
            <button onclick="scrolltotop()" class="btn btn-primary" id="top" style="background-color: darkslateblue;width: 100%;">Back to Top</button>
      </div>
    </div>



    <%for(var j =1 ; j< size; j++){ %>

    <div class="container" style="text-align: center;">

      <div id=<%=j %> class="jumbotron pages" style="margin-left: auto; margin-right: auto;">

        <h4 class="display-4" style="text-decoration: underline;"> <%= username %>'s Journal <br> <%= data[j][0].since.toDateString() %></h4>
      
        <hr class="class-6">

        <% data[j].forEach(function(page, i){ 

          if(page.category == "description"){ %>
            <div class="descriptor"><h5>
              Today I'm Feeling:
              <small class="text-muted"><%=page.journal %></small>
            </h5>
          </div>
          <%}

          else if(page.category == "quote"){ %>

            <blockquote class="blockquote text-center">
              <cite class="blockquote-footer">"<%= page.journal %>"</cite>
            </blockquote>
          <% } 

          else if(entry.category == "message"){ %>
            <font size="5">A Message You Loved</font>
            <div class="messages">
              <%= entry.journal %>
            </div>

          <%}
        
        else{ %>
        
          <p id=<%=j%>><%= page.journal %></p>
          <% } %>
          <hr>
         <% }) 

          if (data[j+1]){ %>
        <button style="float: left;" class="btn btn-primary back" type="button" data-next="<%= j+1 %>" data-current=<%=j %>> Previous Page</button>
            <% } 

        if (data[j-1]){ %>
        <button style="float: right;" class="btn btn-primary forward" type="button" data-back="<%= j-1 %>" data-current=<%= j %>> Next Page</button>
          <% } %>
          <button onclick="scrolltotop()" class="btn btn-primary" id="top" style="background-color: darkslateblue; width: 100%;">Back to Top</button>
      </div>
    <% }; %>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

      <script>
        function flipnext(curr, next){
          console.log("flip next" + curr + next)
          $("#"+curr).animate({left: '-150%'}, 500, function() {
            $(this).hide();
            $("#"+next).removeClass('hidden').animate({left: '20%'},200, function(){}).show();
          })
        };

        function flipBack(curr, prev){
          console.log("flipback" + curr + prev)
          $("#"+curr).animate({left: '-150%'}, 500, function() {
            $(this).hide();
            $("#"+prev).removeClass('hidden').animate({left: '20%'},200, function(){}).show();
          })
        };
    
      function scrolltotop(){
        console.log('clicked')
      $('html, body').animate({
          scrollTop: $('#topofpage').offset().top
      }, 1000);
      };
      
      
        $(document).ready(function() { 
          $(this).scrollTop(0)
    
          var numpages= document.getElementsByClassName('jumbotron').length
          console.log(numpages)
          var start = 0;
  
          for(var i=0;i < numpages;i++)
          {
            var page = "#"+i;

            if(i != start){
              $(page).hide(); 
            }
          }

        // Modified code from http://jsfiddle.net/ksparakis/wgwbq/
          $('.forward').click(function() {
            flipnext($(this).data('current'), $(this).data('back'));
          });
          
          $('.back').click(function() {
            flipBack($(this).data('current'), $(this).data('next'));
          });


      $("#entryform").on('click', function(e) {

        e.preventDefault();
        var entry = $('#userinput').val()

        $.ajax({
            url: "/entry",
            type: "POST",
            data: {content: entry},

            success: function(data){
                $("#page0text").append(entry)
                location.reload()

            }
        });
    });

  });

        
        </script>
          </div>

  </body>
